<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<div class="container">
	
	<div class="row">
			<div class="col-md-10 col-md-offset-2">
			<h1> Карпатські розклади
                <small> Зручніший пошук для <a href="http://bus.com.ua/">bus.com.ua</a></small>
			</h1>
			<form name="search" id="form-settlement-search" class="search-form settlement-search form-inline">
				<input type="hidden" id="settlement-id" >
				<div class="form-group has-feedback">
					<input id="settlement-search-from" type="text"  class="form-control" size="35em" autocomplete="off" placeholder="Звідки" >



					<div class="spec-block">

						<div id="livesearch-from" class="center-block livesearch"></div>	
					</div>
					

                    <div id="settlement-search-from-feedback-icon">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                    </div>
				</div>
				<div class="centered-text ui-swap-button" >
					<button title="Зворотній напрямок" id="ui-settlements-swap-button" class="btn btn-default">
						<span class="glyphicon glyphicon-sort gly-rotate-90"></span>
					</button>
					
				</div>
				
				<div class="form-group has-feedback">
					<input id="settlement-search-to" type="text"  class="form-control" size="35em" autocomplete="off" placeholder="Куди" >
					
					<div class="spec-block">					
						<div id="livesearch-to" class="center-block livesearch"></div>	
					</div>
					
                    <div id="settlement-search-to-feedback-icon">
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                        <span id="inputSuccess2Status" class="sr-only">(success)</span>
                    </div>
				</div>
				
				<button type="submit" id="search-submit-button" class="btn btn-primary">Пошук на bus.com.ua</button>
				
			</form>

			<h2>
				Розклади
							
			</h2>
			

			<table id="ui-routes-table" class="table table-hover table-condensed">
			
			<!--
			<caption>
				 Напрямок <span title="Яремче, Івано-Франківська область">Яблуниця</span> - Івано-Франківськ</small>
			</caption>
			-->

				
			</table>
		</div>
	</div>

</div>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="centered-text">
			<a data-toggle="collapse" href="#collapseChangelog" aria-expanded="false" aria-controls="collapseChangelog">
                v 0.1.5 <b>&beta;</b>				
				</a>
            </div>
			<div class="collapse" id="collapseChangelog">
				<div class="well">
	
				<p>v 0.1.4</p>
					<ul>
						<li>Район і область вказуються, лише якщо є населені пункти з однаковими назвами</li>
						<li>Виправлено коди для окремих населених пунктів</li>
						<li>Додано коди для усіх населених пунктів України</li>
					</ul>
				</div>
			</div>
        </div>
    </div>

</div>
<!-- onkeyup="showResult(this.value)" -->
<script src={{url_for('static',filename='app.js')}}></script>
</body>
</html>